{% if current_user.is_admin %}
    {% extends "admin_layout.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}

{% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/errors.css')}}" />
{% endblock styles %}
{% block content %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404" >
                <h1>Forbidden</h1>
            </div>
            <h2>You don't have permission to do that (403)</h2>
            <p>Please check your account and try again</p>
            {% if current_user.username == 'admin' %}
                <a href="{{url_for('main.admin_home')}}">Go To Admin Page</a>
            {% else %}
                <a href="{{url_for('main.home')}}">Go To Home Page</a>
            {% endif %}
        </div>
    </div>
{% endblock content %}


	


	
