{% extends "layout.html" %}

{% block styles %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/errors.css')}}" />
{% endblock styles %}
{% block content %}
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>500</h1>
            </div>
            <h2>Something went wrong (500)</h2>
            <p>We're experiencing some trouble on our end. Please try again in the near future</p>
           
            <a href="{{url_for('main.home')}}">Go To Home Page</a>
            
        </div>
    </div>
{% endblock content %}