{% extends 'layout.html' %}

{% block content %}

<!-- About Section -->
<section id="about" class="about section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
        <p class="who-we-are">Who We Are</p>
        <h3>Empowering English Language Learners with Technology</h3>
        <p class="fst-italic">
          At EGPT, we believe that learning a new language should be engaging, effective, and accessible. Our platform leverages AI to deliver a 
          customized and engaging learning experience for each user. It is designed to help learners improve their English language skills through
          interactive lessons, chatbot and easily accessible Dictionary. Our goal is to make language learning fun, easy, and effective for everyone.
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> <span>AI-powered chatbot for interactive practice.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Lessons tailored to your progress and goals.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Learn at your own pace, anywhere and anytime.</span></li>
        </ul>
        <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
      </div>

      <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
        <div class="row gy-4">
          <div class="col-lg-6">
            <img src="assets/img/about-company-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6">
            <div class="row gy-4">
              <div class="col-lg-12">
                <img src="assets/img/about-company-2.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-12">
                <img src="assets/img/about-company-3.jpg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
</section><!-- /About Section -->

<!-- Services Section -->
<section id="services" class="services section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <!-- <h2>Services</h2> -->
    <div><span>Check Our</span> <span class="description-title">Services</span></div>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
        <div class="service-item  position-relative">
          <div class="icon">
            <i class="bi bi-activity"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Nesciunt Mete</h3>
          </a>
          <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-broadcast"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Eosle Commodi</h3>
          </a>
          <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-easel"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Ledo Markt</h3>
          </a>
          <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-bounding-box-circles"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Asperiores Commodit</h3>
          </a>
          <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
          <a href="service-details.html" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-calendar4-week"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Velit Doloremque</h3>
          </a>
          <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
          <a href="service-details.html" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
        <div class="service-item position-relative">
          <div class="icon">
            <i class="bi bi-chat-square-text"></i>
          </div>
          <a href="service-details.html" class="stretched-link">
            <h3>Dolori Architecto</h3>
          </a>
          <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
          <a href="service-details.html" class="stretched-link"></a>
        </div>
      </div><!-- End Service Item -->

    </div>

  </div>

</section><!-- /Services Section -->


<!-- Pricing Section -->
<section id="pricing" class="pricing section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Pricing</h2>
    <div><span>Check Our</span> <span class="description-title">Pricing</span></div>
  </div><!-- End Section Title -->

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
        <div class="pricing-tem">
          <h3 style="color: #20c997;">Free Plan</h3>
          <div class="price"><sup>$</sup>0<span> / mo</span></div>
          <div class="icon">
            <i class="bi bi-box" style="color: #20c997;"></i>
          </div>
          <ul>
            <li>Aida dere</li>
            <li>Nec feugiat nisl</li>
            <li>Nulla at volutpat dola</li>
            <li class="na">Pharetra massa</li>
            <li class="na">Massa ultricies mi</li>
          </ul>
          <a href="#" class="btn-buy">Buy Now</a>
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
        <div class="pricing-tem">
          <span class="featured">Featured</span>
          <h3 style="color: #0dcaf0;">Starter Plan</h3>
          <div class="price"><sup>$</sup>19<span> / mo</span></div>
          <div class="icon">
            <i class="bi bi-send" style="color: #0dcaf0;"></i>
          </div>
          <ul>
            <li>Aida dere</li>
            <li>Nec feugiat nisl</li>
            <li>Nulla at volutpat dola</li>
            <li>Pharetra massa</li>
            <li class="na">Massa ultricies mi</li>
          </ul>
          <a href="#" class="btn-buy">Buy Now</a>
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
        <div class="pricing-tem">
          <h3 style="color: #fd7e14;">Business Plan</h3>
          <div class="price"><sup>$</sup>29<span> / mo</span></div>
          <div class="icon">
            <i class="bi bi-airplane" style="color: #fd7e14;"></i>
          </div>
          <ul>
            <li>Aida dere</li>
            <li>Nec feugiat nisl</li>
            <li>Nulla at volutpat dola</li>
            <li>Pharetra massa</li>
            <li>Massa ultricies mi</li>
          </ul>
          <a href="#" class="btn-buy">Buy Now</a>
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
        <div class="pricing-tem">
          <h3 style="color: #0d6efd;">Ultimate Plan</h3>
          <div class="price"><sup>$</sup>49<span> / mo</span></div>
          <div class="icon">
            <i class="bi bi-rocket" style="color: #0d6efd;"></i>
          </div>
          <ul>
            <li>Aida dere</li>
            <li>Nec feugiat nisl</li>
            <li>Nulla at volutpat dola</li>
            <li>Pharetra massa</li>
            <li>Massa ultricies mi</li>
          </ul>
          <a href="#" class="btn-buy">Buy Now</a>
        </div>
      </div><!-- End Pricing Item -->

    </div><!-- End pricing row -->

  </div>

</section><!-- /Pricing Section -->

{% endblock content %}
