{% extends 'layout.html' %}

{% block title %}Messages{% endblock %}

{% block content %}
<section class="messages">
    <h2>Messages</h2>
    <div class="message-list">
      {% for message in messages.items %}  <!-- Use .items to access paginated messages -->
        <div class="message-item">
            <div class="message-header">
                <h3>Subject: {{ message.subject }}</h3>
                <span class="timestamp">{{ message.timestamp.strftime('%Y-%m-%d %H:%M') }}</span>
            </div>
            <p class="message-content">{{ message.message }}</p>
            <div class="message-footer">
                <span class="user-id">User ID: {{ message.user_id }}</span>
                <form action="{{ url_for('main.delete_message', message_id=message.id) }}" method="post">
                    <button type="submit" class="delete-btn"><i class="fas fa-trash-alt"></i> Delete</button>
                </form>
            </div>
        </div>
      {% endfor %}
    </div>
  
    <!-- Pagination controls -->
    <div class="pagination">
      {% if messages.has_prev %}
        <a href="{{ url_for('main.messages', page=messages.prev_num) }}" class="prev-btn">Previous</a>
      {% endif %}
      
      {% if messages.has_next %}
        <a href="{{ url_for('main.messages', page=messages.next_num) }}" class="next-btn">Next</a>
      {% endif %}
    </div>
  </section>
  
{% endblock content %}