{% extends 'layout.html' %}

{% block title %}Contact{% endblock %}

{% block content %}

<!-- Contact Section -->
<section id="contact" class="contact section">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <div><span>Need Help?</span> <span class="description-title">Contact Us</span></div>
  </div><!-- End Section Title -->

  <div class="container" data-aos="fade" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-4">
        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <h3>Address</h3>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Call Us</h3>
            <p>+1 5589 55488 55</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <h3>Email Us</h3>
            <p>info@example.com</p>
          </div>
        </div><!-- End Info Item -->

      </div>

      <div class="col-lg-8">
        <form action="{{ url_for('main.contact_us') }}" method="post" data-aos="fade-up" data-aos-delay="200">
          {{ form.hidden_tag() }}
          <div class="row gy-4">

            <div class="col-md-6">
              {{ form.name(class="form-control", placeholder="Your Name", required="") }}
            </div>

            <div class="col-md-6 ">
              {{ form.email(class="form-control", placeholder="Your Email", required="") }}
            </div>

            <div class="col-md-12">
              {{ form.subject(class="form-control", placeholder="Subject", required="") }}
            </div>

            <div class="col-md-12">
              {{ form.message(class="form-control", rows="6", placeholder="Message", required="") }}
            </div>

            <div class="col-md-12 text-center">
              {{ form.submit(class="btn btn-primary") }}
            </div>

          </div>
        </form>
      </div><!-- End Contact Form -->

    </div>

  </div>

</section><!-- /Contact Section -->


</main>

{% endblock content %}