{% extends 'layout.html' %}

{% block content %}
<link href="{{url_for('static', filename='css/dictionary.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='js/dictionary.js')}}"></script>

<div class="dict_container" style="margin-top: 100px;">
    <h1>Dictionary</h1>
    <input type="text" id="searchBox" onkeyup="searchWords()" placeholder="Search for words..." aria-label="Search words">
    <ul id="wordList">
        {% for word in words %}
            <li>
                <a href="{{ url_for('main.meaning', word_id=word.id) }}">{{ word.word }}</a>
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <form method="POST" action="{{ url_for('main.delete_word', word_id=word.id) }}">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="delete-btn" onclick="return confirm('Are you sure you want to delete this word?');">Delete</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<!-- Section to load the meaning -->
<div id="definition" class="definition">
    <!-- The content of the meaning.html will be dynamically loaded here if using AJAX -->
</div>
{% endblock content %}
