{% extends 'layout.html' %}

{% block content %}
<link href="{{url_for('static', filename='styles.css')}}" rel="stylesheet">

<div class="auth-container">
    <div class="auth-box">
        <div class="auth-box-content">
            <h2 class="auth-title">Login to Your Account</h2>
            <form method="POST" action="{{ url_for('users.login') }}">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                    {% for error in form.email.errors %}
                    <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                    {% for error in form.password.errors %}
                    <div class="error-message">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="form-group">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>

                <div class="form-group">
                    {{ form.submit(class="btn btn-primary") }}
                </div>

                <p class="auth-footer-text">Don't have an account? <a href="{{ url_for('users.register') }}">Register</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
