{% extends "layout.html" %}
{% block content %}
<div class="answerDiv d-flex justify-content-between align-items-center">
    <h1>{{ meaning["word"] }}</h1>
    {% if meaning["audio"] %}
        <button class="playButton d-flex justify-content-center align-items-center" onclick="new Audio('{{ meaning["audio"] }}').play()">
            <i class="bi bi-play-fill playIcon"></i>
        </button>
    {% endif %}
</div>
<h6>{{ meaning["phonetic"] }}</h6>

{% for definition in meaning["meanings"] %}
    <div class="wordDiv">
        <h3>{{ definition["part_name"] }}</h3>
        <hr>
        <h5>Meaning</h5>
        <div class="listDiv">
            <ul>
                <li>{{ definition["definition"] }}</li>
            </ul>
        </div>
        <h5>Synonyms: &nbsp;&nbsp;&nbsp;<span>{{ definition["synonym"] }}</span></h5>
    </div>
{% endfor %}
{% endblock %}
