{% extends 'layout.html' %}

{% block content %}
<div>
    <link href="{{url_for('static', filename='css/services.css')}}" rel="stylesheet">
    
    <input type="checkbox" id="check">
    <label class="button bars" for="check" id="open-sidebar"><i class="fas fa-bars">start</i></label>
    
    <div class="side_bar" id="sidebar">
        <div class="title">
            <div class="logo"><span>Explore</span> <span class="description-title">{{ service.name }}</span></div>
            <label class="button cancel" id="close-sidebar"><i class="fas fa-times">x</i></label>
        </div>
        <ul>
            {% for tutorial in tutorials %}
                <li>
                    <a href="javascript:void(0)" 
                       onclick="loadVideo('{{ tutorial.video_url }}', {{ tutorial.id }})"
                       data-tutorial-id="{{ tutorial.id }}" class="{{ 'active' if tutorial.viewed else '' }}">
                       <i class="fas fa-book"></i>{{ tutorial.title }}
                       {% if tutorial.viewed %}
                          <i class="fas fa-check-circle" style="color:green"></i>
                       {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="video-section">
        <h2 id="video-title">Select a tutorial to watch the video</h2>
        <iframe id="video-player" width="1060" height="700" src="" frameborder="0" allowfullscreen></iframe>
    
        <div class="nav-buttons">
            <button id="prev-btn" class="nav-btn">Previous</button>
            <button id="next-btn" class="nav-btn">Next</button>
        </div>
    </div>

    <script>
        let currentTutorialIndex = -1;
        const tutorials = {{ tutorials|tojson }};
        
        function loadVideo(videoUrl, tutorialId) {
            const videoPlayer = document.getElementById("video-player");
            const videoTitle = document.getElementById("video-title");
            videoPlayer.src = videoUrl;
            videoTitle.innerText = `Now playing: Tutorial ${tutorialId}`;
            
            fetch(`/mark_tutorial_viewed/${tutorialId}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => console.log(data))
                .catch(error => console.error('Error:', error));
        }

        const prevBtn = document.getElementById("prev-btn");
        const nextBtn = document.getElementById("next-btn");

        prevBtn.onclick = function() {
            if (currentTutorialIndex > 0) {
                currentTutorialIndex--;
                loadVideo(tutorials[currentTutorialIndex].video_url, tutorials[currentTutorialIndex].id);
            }
        }

        nextBtn.onclick = function() {
            if (currentTutorialIndex < tutorials.length - 1) {
                currentTutorialIndex++;
                loadVideo(tutorials[currentTutorialIndex].video_url, tutorials[currentTutorialIndex].id);
            }
        }
    </script>
</div>
{% endblock %}
