/* Basic styling for the account page */
.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-picture {
  text-align: center;
  margin-bottom: 20px;
}

.profile-picture img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-picture img:hover {
  transform: scale(1.05);
}

.profile-details {
  padding: 20px;
}

.input-group {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}

.input-group label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group label i {
  margin-right: 10px;
  color: #71c55d;
}

.input-group input,
.input-group .profile-form-control-file {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group .profile-form-control-file:focus {
  border-color: #71c55d;
  outline: none;
}

button,
.profile-btn,
.delete-btn {
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button,
.profile-btn {
  background-color: #8ad7d7;
}

button:hover,
.profile-btn:hover {
  background-color: #269797;
}

.delete-account {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}
